<h1>«ЗЗЦМ» сегодня</h1>

<p>ЗЗЦМ ТМ «Electro Cable Group» принял участие в  XXIII Международной выставке ElcomUkraine 2019 (подробнее)

В рамках выставки нами был проведен семинар по теме: «Качество кабельно-проводниковой продукции. Европейские аналоги отечественного кабеля» (скачать)

ЗЗЦМ ТМ «Electro Cable Group» примет участие в XXIII Международной выставке ElcomUkraine 2019. Приглашаем посетить наш стенд B821 (подробнее)

ЗЗЦМ (Electro Cable Group) пятый год подряд принял участие в выставке Middle East Electricity 2019 (подробнее)

ООО «ЗЗЦМ» получил Сертификат ISO 9001:2015! (подробнее)

Сегодня начал работу новый цех! (подробнее)

ЗЗЦМ четвертый год подряд принял участие в выставке Middle East Electricity 2018 (подробнее)

ЗЗЦМ снова расширяется! До запуска нового цеха осталось 2 месяца!

ЗЗЦМ продолжает расти. Новый производственный участок (подробнее)

Новый вид Деклараций о Качественных Показателях (Declaration of Performance) (подробнее)

Теперь наша продукция маркируется СЕ и по реакции на воздействие пламени соответствует классу Еса, согласно ДСТУ EN 50575:2016+A1:2016 (EN 50575:2014+A1:2016, IDT). Мы производим продукцию, соответствующую Европейскому качеству! Теперь Европейское качество доступно и в Украине! (подробнее)
</p>


<p>«Запорожский завод цветных металлов» – это современный холдинг, который состоит из группы компаний, с мощной производственной базой и репутацией надежного бизнес-партнера.

Холдинг включает в себя производственные процессы по изготовлению:

жилы медной токопроводящей;
проволоки медной;
медного и алюминиевого кабеля (силовой, бронированный, экранированный, огнестойкий, установочные провода и шнуры напряжением до 1 кВ);
этикеточной продукции.
Продукция ЗЗЦМ поставляется:

во все области Украины;
страны СНГ: Казахстан, Молдову, Беларусь;
Европу: Англию, Голландию, Германию, Австрию, Хорватию, Турцию, Чехию, Польшу, Румынию, Грецию;
Азию: Грузию, Китай и Индию.
</p>