<h1>Для заключения договоров</h1>
<p>Свидетельство о государственной регистрации предприятия;
Справка со статистики о внесении предприятия в Единый государственный реестр предприятий и организаций Украины;
Страницы из Устава предприятия:
титульный лист Устава;
первая страница Устава, с печатью о регистрации;
вторая страница Устава;
страница из Устава с прописанными полномочиями директора.
Свидетельство плательщика НДС (в случае если таковым является). Свидетельство плательщика единого налога (в случае если
таковым является);
Документ о назначении директора предприятия (протокол собрания либо приказ);
Доверенность на лицо уполномоченное подписывать договор (в случае, если договор подписывается не руководителем или
    договор заключается с филиалом (структурным подразделением).</p>