<h1>Методы испытания готовой продукции. Лаборатория</h1>

<p>Качество и надежность продукции – основа политики предприятия. Соблюдение технологического процесса контролируется
    инженерно-техническим персоналом предприятия постоянно, на протяжении всего производственного цикла, а неукоснительное
    соблюдение методов испытания от входного контроля материалов до отгрузки продукции, – основная цель деятельности персонала
    лаборатории.</p>

<p>Лаборатория ООО «ЗЗЦМ» аттестована Государственным предприятием «Запорожским научно-производственным центром стандартизации,
    метрологии и сертификации», оснащена самым современным оборудованием и методами измерения, что позволяет с нормированной точностью:

проведение химического анализа катанки медной с нижним пределом обнаружения массовой доли элементов от 0,1 ррm;
измерение электрического сопротивления постоянному току проволоки электротехнической и жил для кабельной продукции в диапазоне (1×10-8 / 1,1111×108) Ом;
измерение электрического сопротивления изоляции кабельной продукции до 10 000 МОм;
испытание кабельной продукции напряжением до 70 кВ;
определение физико-механических параметров изоляционных материалов, проволоки и катанки;
измерение геометрических размеров конструктивных элементов кабельной продукции, проволоки и катанки;
испытание продукции до, при и после воздействия климатических факторов, установленных к кабельной продукции.
Проведение испытаний в соответствии с требованиями гармонизированных национальных стандартов с международными и
    европейскими стандартами обеспечивает безопасность кабельно-проводниковой продукции, установленную
    Техническим регламентом №1149 «Низковольтное электрическое оборудование», соответствие всей производимой
    продукции европейскому уровню качества.</p>