<h1>О предприятии</h1>

        <p>Наше предприятие уже более 25 лет на рынке кабельно-проводниковой продукции. За этот небольшой период наш завод зарекомендовал себя надежным партнером и профессионалом своего дела.  Особое внимание на ООО "ЗЗЦМ" уделяется системе менеджмента качества.
        Система менеджмента качества ООО «ЗЗЦМ» сегодня стала в полном смысле слова системой управления предприятием.
        Ориентация на потребителя, лидерство на всех уровнях управления, вовлечение персонала в достижении общих задач и целей, процессный подход в практической деятельности предприятия, нацеленность на постоянные улучшения результативности системы менеджмента качества, принятие решение, опираясь на факты, их оценку и всесторонний анализ, а, также, оптимизация управленческих решений во взаимоотношениях с поставщиками – это те принципы, которые в наших условиях превращают систему менеджмента качества в систему управления предприятием.
        В разные периоды времени предприятие работало с разными сертификационными органами.
        В настоящее время сертификацию системы менеджмента качества нашего предприятия выполнил мировой лидер по предоставлению услуг тестирования, инспекции и сертификации - «Bureau Veritas Certification Holding SAS-UK Branch». Как утверждает генеральный директор «Bureau Veritas» Дидье Мишо-Даниэль - их Сертификат приносит уверенность в мире рисков!
            А наша уверенность – это и уверенность наших партнёров! </p>

<h2>Политика ООО «ЗЗЦМ» в области качества</h2>

<p>Наш девиз»:
«Качество изготавливаемой продукции – это гарантия благополучия и процветания предприятия и людей, работников завода!»

Наша миссия:
Быть лидером в проектировании, разработке и производстве изолированных
проводов, кабелей и других изолированных электрических проводников; проволок
медных и алюминиевых; витых проводов, кабелей, плетеных шнуров и аналогичных
изделий из меди и алюминия электрически неизолированных.

Наша стратегия:
● Сохранять существующие и осваивать новые рынки реализации продукции.
● Разрабатывать и проектировать новые необходимые потребителю виды продукции.
● Постоянно улучшать выпускаемую продукцию, обслуживание потребителей в
соответствии с требованиями международного стандарта ISO 9001:2015.

Наши принципы и направления для реализации «Политики ООО «ЗЗЦМ» в области качества»:
● Потребитель – главный источник нашего благосостояния и развития. Наша продукция, обслуживание потребителей должны соответствовать их требованиям и учитывать их будущие ожидания.
● Лидерство на всех уровнях управления определяет единство перспективных
направлений и конечной цели.
● Полное вовлечение персонала в достижение Целей в области качества, регулярное обучение и повышение компетентности персонала.
● Применение процессного подхода при организации практической деятельности предприятия.
● Выполнение применимых требований и постоянное улучшение результативности системы менеджмента качества на основе международного стандарта ISO 9001:2015.
● Принятие решений на основе оценки и всестороннего анализа конкретных фактов.
● Оптимизировать за счёт своих управленческих решений взаимоотношения с поставщиками.

Руководство ООО «ЗЗЦМ» приняло на себя ответственность за реализацию «Политики ООО «ЗЗЦМ» в области качества», за обеспечение понимания и поддержки её всеми работниками завода!

Миссия нашей компании
    "Мы работаем для того, чтобы Вы имели возможность приобретать лучшее и сделать окружающий нас мир безопаснее, сохранить людям жизнь и здоровье".</p>