<h1>Закупки, потребности</h1>
<p>ООО «Запорожский завод цветных металлов» – система нашей работы разработана с учетом потребностей
    клиентов компании и обеспечивает высокую эффективность и надежность изготовления и транспортировки
    готовой продукции. Обеспечение ресурсами и услугами требуемого качества и в установленные сроки – залог успеха
    компании и важное конкурентное преимущество. Через успех нашей компании к процветанию каждого из нас.

Поставщикам и подрядчикам
Основная цель производственной стратегии ООО «ЗЗЦМ» – увеличение выпуска и ассортимента продукции с высокой
    добавленной стоимостью, качество, свойства и характеристики которой должны отвечать потребностям и
    ожиданиям потребителей. Достижение данной цели возможно только в сотрудничестве с надежными,
    высокопрофессиональными компаниями-поставщиками.

ООО «Запорожский завод цветных металлов» открыт к сотрудничеству на долгосрочной основе с поставщиками,
    которые разделяют приверженность компании высоким стандартам в области деловой этики, качества и эффективности производства.

С целью наиболее эффективного управления закупочной деятельностью, снижения издержек, повышения рентабельности
    операционной деятельности ООО «Запорожского завода цветных металлов» переходит от традиционного механизма закупок к
    комплексному процессу управления цепочками поставок.

Ключевые ориентиры при осуществлении закупок:
качество;
своевременность поставок;
стоимость;
эффективность.
Основные принципы сотрудничества:
взаимное доверие, уважение и ответственность;
повышение качества продукции, совершенствование технологий, создание новых видов продукции;
постоянное совершенствование процессов.
Постоянное совершенствование процессов:
стремиться к улучшению во всем, что мы делаем;
проводить оптимизацию и стандартизацию всех процессов с применением новейших технологий и инструментов производственной системы;
направлять усилия на снижение расходов, повышение результативности и эффективности процессов.
Взаимовыгодные отношения с поставщиками:
Создавать стратегические союзы и содружества, обеспечивающие участие поставщиков в совместной работе по повышению качества
    закупаемой продукции для совершенствования технологий;
    углублять взаимное доверие, уважение и ответственность ради удовлетворения потребителей и постоянного улучшения процессов. </p>