<footer class="footer">
  <div class="footer__top-row">
    <div class="container">
      <div class="row">
        <div class="footer__menu-col col-xl-2 col-lg-2 col-md-3 col-sm-6">

          <ul class="footer__menu">
            <li class="footer__menu-item"><a href="/company" class="footer__menu-link" title="О компании">О компании</a></li>
              <li class="footer__menu-item"><a href="/blog" class="footer__menu-link" title="Новости">Новости</a></li></ul>


          <a href=""> {% include 'landing/logo.html' %}</a>

        </div>
        <div class="footer__menu-col col-xl-2 col-lg-2 col-md-3 col-sm-6">

          <ul class="footer__menu">
            <li class="footer__menu-item"><a href="/contact" class="footer__menu-link" title="Контакты">Контакты</a></li>
              <li class="footer__menu-item"><a href="/" class="footer__menu-link" title="Стальная проволока">Стальная проволока</a></li></ul>

        </div>

      </div>
    </div>

  </div>

  <div class="footer__bottom-row">
    <div class="container">
      <div class="row justify-content-center">
        <div class="footer__copyright" title="company address => click here!">{% include 'landing/popup.html' %}</div>
      </div>
    </div>
  </div>

     {% include 'landing/call.html' %}
     {% include 'landing/data.html' %}
     {% include 'landing/timer_slider.html' %}




</footer>

