<!--<div class="col-lg-12" class = "paddings">-->
  <!--<ul id="slides">-->
    <!--<li class="slide showing"></li>-->
    <!--<li class="slide"></li>-->
    <!--<li class="slide"></li>-->
  <!--</ul>-->
  <!--<div class="buttons">-->
    <!--<button class="controls" id="previous">&lt;</button>-->

    <!--<button class="controls" id="pause">&#10074;&#10074;</button>-->

    <!--<button class="controls" id="next">&gt;</button>-->
  <!--</div>-->
<!--</div>-->


  <div class="col-lg-12 paddings" >

        <ul id="slides">
            <li class="slide showing"></li>
            <li class="slide"></li>
            <li class="slide"></li>
        </ul>
  </div>

