{% load staticfiles %}

<div class="slider_possition" id="slider">
	<div id="polosa">

		<img src="{% static "img\wire_welding.jpg" %}" width="128px" height="128px">
		<img src="{% static "img\wire_barbed.jpg" %}" width="128px" height="128px">
		<img src="{% static "img\wire_galvanized.jpg" %}" width="128px" height="128px">
		<img src="{% static "img\wire_pvx_black.jpg" %}" width="128px" height="128px">
		<img src="{% static "img\wire_pvx_brown.jpg" %}" width="128px" height="128px">
		<img src="{% static "img\wire_pvx_green.jpg" %}" width="128px" height="128px">
		<img src="{% static "img\wire_pvx_gray.jpg" %}" width="128px" height="128px">

	</div>
</div>
